@layer utilities {
  @media (max-width: 900px) {
    .is-desktop {
      display: none !important;
    }

    .is-mobile {
      display: flex !important;
    }

    .logo-small {
      max-width: 140px !important; /* w-36 */
    }
  }

  @media (min-width: 901px) {
    .is-desktop {
      display: flex !important;
    }

    .is-mobile {
      display: none !important;
    }

    .logo-small {
      max-width: 160px !important; /* w-40 */
    }
  }
}

@layer utilities {
  @media (max-width: 900px) {
    .header-justify {
      justify-content: space-between !important;
    }
  }

  @media (min-width: 901px) {
    .header-justify {
      justify-content: space-around !important;
    }
  }
}