/*Responsividade da Imagem*/
@layer utilities {
  @media (max-width: 1024px) {
    .hide-hero-on-mobile {
      display: none !important;
    }
  }

  @media (min-width: 1025px) {
    .hide-hero-on-mobile {
      display: block !important;
    }
  }
}


/*Responsividade do Título*/
@layer utilities {
   /* Quebra para telas menores que 1124px */
  @media (max-width: 1124px) {
    .title-h1 {
      font-size: 3rem; /* ~ 48px */
    }

    .title-carlos,
    .title-monnerat {
      font-size: 3.5rem; /* ~ 56px */
    }
  }

  /* Quebra para telas menores que 600px */
  @media (max-width: 600px) {
    .title-h1 {
      font-size: 2.5rem; /* ~ 32px */
    }

    .title-carlos,
    .title-monnerat {
      font-size: 2.8rem; /* ~ 40px */
    }
  }
}

/*Responsividade do componente Pai (Hero)*/
@layer utilities {
  @media (max-width: 1024px) {
    .hero-responsive {
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
      text-align: center !important;
      gap: 2rem;
    }
  }
}
