/*Animação da Imagem*/
@layer utilities {
  @keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0); }
  }

  .float {
    animation: float 3s ease-in-out infinite;
  }
}
/*Responsividade da Imagem*/
@layer utilities {
  @media (max-width: 1024px) {
    .hide-hero-on-mobile {
      display: none !important;
    }
  }

  @media (min-width: 1025px) {
    .hide-hero-on-mobile {
      display: block !important;
    }
  }
}

/*Animação de pulso do Título*/
@layer utilities {
  @keyframes gradient-slide-reverse {
    0% {
      background-position: 100% 50%;
    }
    50% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  .animated-gradient-reverse {
    background-size: 200% 200%;
    animation: gradient-slide-reverse 3s ease infinite;
  }
}

/*Animação de Digitação do Título*/
@layer utilities {
  @keyframes typing-backspace {
    0% {
      max-width: 0;
    }
    40% {
      max-width: 100%;
    }
    60% {
      max-width: 100%;
    }
    100% {
      max-width: 0;
    }
  }

  @keyframes blink-caret {
    0%, 100% {
      border-color: transparent;
    }
    50% {
      border-color: white;
    }
  }

  .typing-wrapper {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white;
    animation:
      typing-backspace 6s steps(18) infinite,
      blink-caret 1s step-end infinite;
  }

  .text-gradient {
    background-image: linear-gradient(to right, #7c3aed, #2e1065);
    -webkit-background-clip: text;
    background-clip: text; /* adiciona a propriedade padrão */
    color: transparent;
  }
}

/*Responsividade do Título*/
@layer utilities {
   /* Quebra para telas menores que 1124px */
  @media (max-width: 1124px) {
    .title-h1 {
      font-size: 3rem; /* ~ 48px */
    }

    .title-carlos,
    .title-monnerat {
      font-size: 3.5rem; /* ~ 56px */
    }
  }

  /* Quebra para telas menores que 600px */
  @media (max-width: 600px) {
    .title-h1 {
      font-size: 2.5rem; /* ~ 32px */
    }

    .title-carlos,
    .title-monnerat {
      font-size: 2.8rem; /* ~ 40px */
    }
  }
}

/*Responsividade do componente Pai (Hero)*/
@layer utilities {
  @media (max-width: 1024px) {
    .hero-responsive {
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
      text-align: center !important;
      gap: 2rem;
    }
  }
}
